# Ignore external projects
../learnmore_enhanced/
../../htdocs/
../../labs/
../../static/

# OS files
**/.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env

# Django
vectorstore/
.claude/

# IDE
.idea/
.vscode/
